
proto_recomendador/.ipynb_checkpoints/ann-checkpoint.ipynb
proto_recomendador/.ipynb_checkpoints/CiudadesSimilares-checkpoint.ipynb
proto_recomendador/.ipynb_checkpoints/CiudadesSimilares-PrimerIntento-checkpoint.ipynb
proto_recomendador/.ipynb_checkpoints/ContentBasedFilteringPrototipo-checkpoint.ipynb
proto_recomendador/.ipynb_checkpoints/PreparacionDeDatos-checkpoint.ipynb
proto_recomendador/.ipynb_checkpoints/ProtoRecomendador-checkpoint.ipynb
proto_recomendador/.ipynb_checkpoints/SegmentacionUsuarios-checkpoint.ipynb
proto_recomendador/__pycache__/modelo_cuadratico.cpython-37.pyc
